body{
    background: url(./шьп/Red-sky-clouds-dusk_2880x1800.jpg);
    background-size: cover;
}
.active{
    background-color: rgba(0, 255, 255, 0);
}
table{
    border: 1px solid black;
    margin: 50px auto;
}
td{
    border: 1px solid black;
    padding: 30px 60px;
}
